.newBtn {
  font-size: 12px;
  color: #28a745;
  width: fit-content;
  &:hover {
    cursor: pointer;
  }
}

.customFilter {
  width: 3rem !important;
  height: 2rem;
}

.btnContainer {
  display: flex;
  margin-top: auto;
  justify-content: flex-end;
  right: 0;
  bottom: 0;
}
.backBtn {
  cursor: pointer;
  border: 1px solid #191414;
  background-color: transparent;
  border: 0;
  color: #191414;
  padding: 5px;
  &:active {
    background-color: transparent;
    color: black;
  }
  &:hover {
    background-color: transparent;
    color: black;
  }
}
.defaultBtn {
  border-radius: 10px;
  background-color: transparent !important;
  color: var(--primary);
  border-color: var(--primary);
  &:hover {
    background-color: var(--primary) !important;
    border-color: var(--hoverPrimary);
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--transPrimary) !important;
    background-color: var(--primary) !important;
    border-color: var(--hoverPrimary);
    color: white;
  }
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.primaryBtn {
  @include decentBtn();
  background-color: var(--primary);
  border-color: var(--primary);
  &:hover {
    background-color: var(--hoverPrimary);
    border-color: var(--hoverPrimary);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--transPrimary) !important;
    background-color: var(--hoverPrimary);
    border-color: var(--hoverPrimary);
  }
  width: 10em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.greenBtn {
  @include decentBtn();
  background-color: var(--success);
  border-color: var(--success);
  &:hover {
    background-color: var(--hoverSuccess);
    border-color: var(--hoverSuccess);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--transSuccess) !important;
    background-color: var(--hoverSuccess);
    border-color: var(--hoverSuccess);
  }
  width: 10em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.greyBtn {
  @include decentBtn();
  background-color: transparent;
  border-color: var(--transPrimary);
  color: var(--transPrimary);
  &:hover {
    background-color: var(--hoverGray);
    border-color: var(--hoverGray);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--transGray) !important;
    background-color: var(--hoverGray);
    border-color: var(--hoverGray);
  }
  width: 10em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.redBtn {
  @include decentBtn();
  background-color: var(--danger);
  border-color: var(--danger);
  &:hover {
    background-color: var(--hoverDanger);
    border-color: var(--hoverDanger);
  }
  &:focus {
    background-color: var(--hoverDanger);
    border-color: var(--hoverDanger);
    box-shadow: 0 0 0 0.2rem var(--transDanger) !important;
  }
  width: 10em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

//#region Table Buttons
.editBtn {
  // display: flex;
  // align-items: center;
  // position: relative;
  padding: 0px 6px;
  border-radius: 60% !important;
  width: 28px !important;
  height: 28px !important;
  background-color: #00805e;
  border-color: #00805e;
  border-style: solid;
  .editIcon {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #00805e88 !important;
  }
}
.disabledBtn {
  // display: flex;
  // align-items: center;
  // position: relative;
  border-radius: 60% !important;
  width: 28px !important;
  height: 28px !important;
  background-color: rgba(128, 128, 128, 0.515);
  border-color: #bebebe;
  border-style: solid;
  cursor: default;
  .disabledIcon {
    position: relative;
    left: -2px;
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #bebebed7 !important;
  }
}
.editDisabledBtn {
  border-radius: 60% !important;
  width: 28px !important;
  height: 28px !important;
  background-color: #4ea78f;
  border-color: #4ea78f;
  border-style: solid;
  cursor: default;
  .disabledIcon {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #bebebed7 !important;
  }
}
.requestDisabledBtn {
  border-radius: 60% !important;
  width: 28px !important;
  height: 28px !important;
  background-color: #36949b;
  border-color: #36949b;
  border-style: solid;
  cursor: default;
  .disabledIcon {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #bebebed7 !important;
  }
}

.viewBtn {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: relative;
  padding: 0 5px;
  border-radius: 60%;
  width: 28px;
  height: 28px;
  background-color: var(--cyan);
  border-color: var(--cyan);
  border-style: solid;
  .viewIcon {
    color: white;
    // width: 15px !important;
    // height: 15px !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--transCyan) !important;
  }
}

.validateBtn {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 0 6px;
  position: relative;
  border-radius: 60%;
  height: 28px;
  width: 28px;
  background-color: var(--primary);
  border-color: var(--primary);
  border-style: solid;
  .validateIcon {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--transPrimary) !important;
  }
}
.approveBtn {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 0 6px;
  position: relative;
  border-radius: 60%;
  height: 28px;
  width: 28px;
  background-color: var(--success);
  border-color: var(--success);
  border-style: solid;
  .approveIcon {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--transSuccess) !important;
  }
}
.resetBtn {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 0 6px;
  position: relative;
  border-radius: 60%;
  height: 28px;
  width: 28px;
  background-color: var(--danger);
  border-color: var(--danger);
  border-style: solid;
  .resetIcon {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--transDanger) !important;
  }
}

.disapproveBtn {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 0 6px;
  position: relative;
  border-radius: 60%;
  height: 28px;
  width: 28px;
  background-color: var(--gray-dark);
  border-color: var(--gray-dark);
  border-style: solid;
  .disapproveIcon {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #6c757d8e !important;
  }
}
//#endregion

.btn.disabled,
.btn:disabled {
  border-color: #d8d8d883 !important;
}

.dropdownBtn .dropdown-toggle {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #0b345f;
  font-size: 15px;
}
.dropdownBtn .dropdown-toggle:hover,
.dropdownBtn .dropdown-toggle:active,
.dropdownBtn .dropdown-toggle:focus,
.dropdownBtn .dropdown-toggle::after {
  color: #3e85cc !important;
}
.dropdownBtn .dropdown-header {
  color: white;
  text-align: left;
  padding-left: 8px !important;
  background-color: #0b345f;
  padding: 2px 2px;
}

.dropdownBtn .dropdown-menu {
  padding: 0;
  border: none;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdownBtn .dropdown-item {
  padding: 10px 15px;
  font-size: 13px;
  color: black;
}

.dropdownBtn .dropdown-item:hover {
  transition: border-left 0.3s ease, color 0.3s ease;
  border-left: 5px solid #3e85cc;
  color: #0b345f;
}
.dropdownBtn .dropdown-menu .dropdown-item:active {
  border-right: 5px solid #0b345f;
  color: #0b345f;
}
